{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "parser": "babel-ts",
  "printWidth": 130,
  "quoteProps": "as-needed",
  "semi": true,
  "trailingComma": "none",
  "useTabs": true
}